# Ignore everything by default
/*

# Include repo docs
!/AGENTS.md

# Include the docker-config directory and its contents (except for the home,
# db-dumps and status directories)
!/.docker-config/
/.docker-config/home/*
/.docker-config/home/.*
!/.docker-config/home/.gitkeep
/.docker-config/db-dumps/*
!/.docker-config/db-dumps/.gitkeep
/.docker-config/status/*
!/.docker-config/status/.gitkeep

# Include the mise files
!/mise.*
!/.mise/
mise.local.toml

# Include the scripts
!/.scripts/
