# Ignore everything by default
/*

# Include repo docs
!/AGENTS.md

# Include the container-config directory and its contents (except for the
# home-template, db-dumps and status directories)
!/.container-config/
/.container-config/home-template/*
/.container-config/home-template/.*
!/.container-config/home-template/.gitkeep


/.container-config/db-dumps/*
!/.container-config/db-dumps/.gitkeep
/.container-config/status/*
!/.container-config/status/.gitkeep

/.container-config/claude-memory/*
!/.container-config/claude-memory/.gitkeep

# Include the mise files
!/mise.*
!/.mise/
mise.local.toml

# Include the scripts
!/.scripts/
